.wrapper{
  display: grid;
  /*grid-template-columns: repeat(3, 200px);*/
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 200px;
  /*align-items: start;*/
  justify-items: center;
}

.wrapper div{
  background-color: royalblue;
  padding: 1rem;

}

.wrapper div:nth-child(even){
  background-color: skyblue;
}